.grid-container {
  display: grid;
  grid-template-areas:
    "header header header"
    "sidebar main main"
    "footer footer footer";
  grid-template-rows: 20vh 60vh 14vh; 
    grid-template-columns: 30vh 70vh; 
  gap: 2vh; 
}


header {
  color: white;
  grid-area: header;
  
}

.sidebar {
  color: white;
  grid-area: sidebar;
}

main {
  color: white;
  grid-area: main;
}

footer {
  grid-area: footer;
  color: white;
}
body{

  background: linear-gradient(0deg, #333, #555) fixed;
}


.main{
  display: grid;
  grid-template-areas:
    "name name name"
    "clasification description ingredient";
  grid-template-columns: 20% 40% 40%; 
    grid-template-rows: 20% auto; 
  gap: 10px; 
}

.name {
  grid-area: name;
  text-align: center;

}

.clasification {
  grid-area: clasification;
}

.description {
  grid-area: description;
}

.ingredient {
  grid-area: ingredient;
}

.table-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; 
}








.logo-container {
  width: 500px;
  height: 100%;
  display: flex; 
  align-items: center; 
}

.logo,
.logo2 {
  height: 16vh; 
  width: 16vh; 
  margin-right: 20px; 
  border: 2px solid #fff; 
  border-radius: 5px; 
  padding: 5px; 
}




.recipe_name{
  text-align: center;


}
.recipe_category{
  text-align: left;
 



}

.normaltext{
  font-size: 20px;


}

.bigtext{
  font-size: 40px;
  font-weight: bold;

}